@import "price-range";

@import "pagination";

.product-list {
  padding: 15vh 0;
  min-height: 80vh;

  &>h1 {
    color: $color3;
  }

  &-title {
    @include flex(column, flex-start, space-between);
    margin: 2em 0;
    background-color: $color2-blur2;
    padding: 10px;
    border-radius: 10px;

    &>h3 {
      margin-left: 15px;
      font-family: $font;
      display: block;
      color: $color3;
      text-align: start;
      font-size: $font-size + 10;
      
    }

    select {
      width: 100%;
    }

    .selector {
      @include flex(row, center, space-around);
      width: 100%;

      &>* {
        width: 100%;
        margin: 10px 15px;
      }

      &-part>span {
        display: block;
        color: $color3;
        margin-bottom: 10px;
      }
    }
  }

  &-body {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    align-content: space-between;
  }
}

@include breakpoint(tablet) {
  .product-list {

    .search-form {
      input {
        height: 40px;
      }
    
      label {
        top: 20px;
        left: 20px;
        font-size: $font-size + 3;
      }
    }

    &-title {
      @include flex(column, center, center);
      margin: 1em;
  
      &>h3 {
        display: block;
        color: $color3;
        text-align: center;
        font-size: $font-size + 5;
      }
  
      .selector {
        @include flex(column, flex-start, space-between);
        padding: 15px;
        margin: 0;

        &>* {
          margin: 10px 0;
        }

        &-part>span {
          width: 50%;
        }
      }
    }
  }
}

@include breakpoint(small) {
  input {
    height: 35px;
  }

  label {
    top: 18px;
    left: 18px;
    font-size: $font-size - 3;
  }
}