@import "detail";

.space {
  display: block;
  padding: 50px 0;
  width: 100%;
  content: "";

  @include breakpoint(tablet) {
    padding: 30px 0;
  }
}

.product-detail {
  padding: 1.5em 0;
  min-height: 80vh;
  overflow: hidden;
  display: grid; 
  grid-template-columns: repeat(1fr, 3); 
  grid-template-rows: 1fr 1fr; 
  gap: 0px; 
  grid-template-areas: 
    "body body body"
    "privacy privacy privacy"; 

  &-body {
    @include flex(row, stretch, space-between);
    grid-area: body;
    
  }

  &-privacy {
    grid-area: privacy;
  }

  @include breakpoint(smallLap) {
    &-body {
      @include flex(column, stretch, flex-start);    
    }
  }
}

.detail {
  &-description {
    display: block;
    padding: 10px;
    border: 1px solid $color1;

    &-price {
      color: $color3;
      font-size: 30px;
      font-weight: 900;
    }
  }
}

.quantity {
  label {
    color: $color3;
  }

  &-input {
    @include flex(row, flex-start, flex-start);
    margin-top: 15px;

    button {
      @include trans(.2s);
      @include size(25px, 25px);
      background-color: $color1;
      color: $color3;
      border: 0;
      font-weight: 900;

      &:hover {
        background-color: $color1-blur;
      }

      &:disabled {
        background-color: transparent;
        color: transparent;
        cursor: default;
        user-select: none;
      }
    }

    input {
      @include size(50px, 25px);
      border: 0;
      text-align: center;
    }
  }
}

.product-title {
  @include trans(0.2s);
  display: flex;
  padding: 15px 20px;
  background: $color1-blur;
  width: 100%;
  color: $color3;
  text-transform: uppercase;
  font-size: $font-size * 1.7;

  &:hover {
    background: $color1;
  }

  @include breakpoint(tablet) {
    padding: 10px 15px;
    margin-top: $font-size * 2;
    font-size: $font-size * 1.3;
  }

  @include breakpoint(small) {
    font-size: $font-size;
  }
}

.more-items {
  @include flex(row, center, space-around);
  flex-wrap: nowrap;
  align-content: space-between;
  overflow: hidden;
  margin-bottom: 1.5em;
}