.product-detail {
  padding: 15vh 0;
  min-height: 80vh;
  display: grid; 
  grid-template-columns: repeat(1fr, 3); 
  grid-template-rows: 0.23fr 0.68fr 0.68fr; 
  gap: 0px; 
  grid-template-areas: 
    "title title title"
    "body body body"
    "privacy privacy privacy"; 

  &-title {
    grid-area: title;
  }

  &-body {
    grid-area: body;
  }

  &-privacy {
    grid-area: privacy;
  }

  .more-items {
    @include flex(row, center, space-around);
    flex-wrap: wrap;
    align-content: space-between;
    overflow: hidden;
  }
}

